* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .important--text {
      color: blueviolet;
  
  }
  
  .Header--Container {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 2rem;
  }
  
  .img--personal_flow,
  .img--secure_desktop {
    height: 2rem;
  }
  
  .container--img_fondo {
    position: relative;
    margin-top: 3rem;
  }
  
  /*? SELECCIONA LA PRIMERA ETIQUETA IMG QUE ENCUENTRE DENTRO DE LA CLASE */
  .container--img_fondo img:first-child {
    width: 100%;
  }
  .container--img_fondo > h3 {
    position: absolute;
    top: 1rem;
    padding-left: 2rem;
    color: rgb(213, 213, 218);
  }
  
  footer {
    margin-top: 2000px;
  }
  