.section__article{
    display: inline-block;
    
}
*{  
    background-color: transparent;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;  
}
.div__img{
    width: 100%;
    position: fixed;
    background-color: rgb(17 17 17) ;
}
.div__dos__img{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__img1{
    height: 80px;
    size: 100px;
    text-align: left;
    /* display: inline; */
}
.header__img2{
    height: 80px;
    
} 

.main__div{
    justify-content: center;
}
.main__div__h1{
    left: 100px;
    font-family: sans-serif;
    height: 30px;
    color: rgb(240, 248, 255);
}
.main__div__imagenfondo{
    margin-top: 80px;
    display:flex;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-image: url("MEDIA/jumbotron.9f78461f61bdcd463a26.jpg");
}




