:root{
    --color-text: red;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.important--text {
    /* color: blueviolet; */
    color: rgb(255, 255, 255);

}

.Header--Container {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 2rem;
}

.img--personal_flow,
.img--secure_desktop {
    height: 2rem;
    
}

.container--img_fondo {
    position: relative;
    margin-top: 3rem;
}

/*? SELECCIONA LA PRIMERA ETIQUETA IMG QUE ENCUENTRE DENTRO DE LA CLASE */
.container--img_fondo img:first-child {
    width: 100%;
    height: 15vh ;
}

.container--img_fondo > h3 {
    position: absolute;
    top: 1rem;
    height: 1000px;
    display: flex;
    color: var(--color-text);
    position: relative; 
    bottom: 72px
}

.container--img_fondo>h3>span {
    color: var(--color-text);
}
footer {
    margin-top: 2000px;
}
.contenedor-para__centrar{
    /* justify-content: ; */
    background-color: rgba(137, 43, 226, 0.692);
    height: 300px;
    width:100px ;
}